-- Migration: Support One-time Tasks
-- Date: 2026-04-11

ALTER TABLE tasks ALTER COLUMN template_id DROP NOT NULL;
ALTER TABLE tasks ADD COLUMN title TEXT;
ALTER TABLE tasks ADD COLUMN description TEXT;
ALTER TABLE tasks ADD COLUMN priority priority_level;
ALTER TABLE tasks ADD COLUMN proof_type_required proof_type;

-- Migrate existing data from templates to tasks
UPDATE tasks t
SET 
  title = tp.title,
  description = tp.description,
  priority = tp.priority,
  proof_type_required = tp.proof_type_required
FROM task_templates tp
WHERE t.template_id = tp.id;

-- Make title NOT NULL for future tasks
ALTER TABLE tasks ALTER COLUMN title SET NOT NULL;
